button {
	display: inline-block;
	text-decoration: none;
	margin: 0 15px;
	padding: 0 30px;
	line-height: 40px;
	border-radius: 7px;
	border: none;
	cursor: pointer;
	font-weight: 900;
	color: $color--tertiary;
	background: $color--highlight;
	text-transform: uppercase;
	font-family: $font--primary;
  font-size: 16px;
	transition: all .3s;

	&[disabled] {
		opacity: .5;
		pointer-events: none;
	}

	&:hover {
		background: #ffffff;
	}
}