.game-title {
  line-height: 1;
  font-size: 8vw;

  @media (min-width: 768px) {
    position: absolute;
    top: 12vh;
    left: 0;
    right: 0;
  }
  
  @media (min-width: 1200px) {
    font-size: 96px;
  }

  div {
    display: inline-block;
    padding: 0.05em .2em;
    line-height: 1;
    color: $color--highlight;
    text-transform: uppercase;
    font-weight: 900;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  .game-title {
    font-size: 10vw;

    div {
      display: block;
    }
  }
}